.meals {
  @apply max-w-[60rem] w-[90%] my-[2rem] mx-auto 
  /* animate-mealsAppear animate-1s animate-ease-out animate-forwards */

  /* max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards; */;
}

.meals ul {
  @apply list-none m-0 p-0 
  /* list-style: none;
  margin: 0;
  padding: 0; */;
}

.meals--loading {
  @apply text-center text-white-100;
}


.meals--error {
  @apply text-center text-red-700;
}
/* @keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
