/* .button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
} */

/* width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem; */

.button {
  @apply cursor-pointer font-body bg-tertiary-100 text-white-100 px-3 py-3 flex justify-around items-center rounded-xl font-medium;
}

.button:hover,
.button:active {
  @apply bg-tertiary-200;
}

.badge {
  @apply bg-primary px-[1rem] py-[0.25rem] rounded-full ml-4;
}

.button:hover .badge,
.button:active .badge {
  @apply bg-[#92320c];
}
/* 
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
} */
